<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//- link(href="https://file.myfontastic.com/mdofrjCmKsF94AYNkVr3u7/icons.css" rel="stylesheet")
		title Pop Up
	body
		.container
			article
				h1.Title Pop Up
				button.Button.btn-open-popup#btn-open-popup Abrir Pop up

				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut molestias quo illum atque reiciendis debitis ullam quod odio. Error velit suscipit rem totam, consequuntur deleniti dignissimos ipsum minus perspiciatis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum maiores amet nam facilis iure nostrum incidunt explicabo maxime beatae necessitatibus cum blanditiis dolor aspernatur tempora, aliquid quam quas recusandae voluptas.

				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut molestias quo illum atque reiciendis debitis ullam quod odio. Error velit suscipit rem totam, consequuntur deleniti dignissimos ipsum minus perspiciatis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum maiores amet nam facilis iure nostrum incidunt explicabo maxime beatae necessitatibus cum blanditiis dolor aspernatur tempora, aliquid quam quas recusandae voluptas.

				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut molestias quo illum atque reiciendis debitis ullam quod odio. Error velit suscipit rem totam, consequuntur deleniti dignissimos ipsum minus perspiciatis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum maiores amet nam facilis iure nostrum incidunt explicabo maxime beatae necessitatibus cum blanditiis dolor aspernatur tempora, aliquid quam quas recusandae voluptas.

				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut molestias quo illum atque reiciendis debitis ullam quod odio. Error velit suscipit rem totam, consequuntur deleniti dignissimos ipsum minus perspiciatis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum maiores amet nam facilis iure nostrum incidunt explicabo maxime beatae necessitatibus cum blanditiis dolor aspernatur tempora, aliquid quam quas recusandae voluptas.
			.Overlay#overlay
				.Popup#popup
					a.Popup__btn--close#btn-close-popup(href="#") X
					h3.Popup__title Suscribete
					p.Popup__description y recibe un cupon de descuento
					form.Popup__form(action="")
						.Popup__container--inputs
							input.Popup__form--input#name(type="text", name="name" placeholder="Nombre")
							input.Popup__form--input#email(type="email", name="email" placeholder="Email")
						input.Button.Popup__btn--submit#btn-close-popup(type="submit", value="Suscribirse")
