// variable de colores

// css
:root {
	// colores
	// --first-color: #D63C5E;
	--first-color: #007BDF;
	--second-color: #2C2939;
	--third-color: #ECECEC;

	--html-color: #DD4B25;
	--css-color: #146EB0;
	--js-color: #ED7E30;
	--mongodb-color: #7FC857;
	--mysql-color: #005E86;
	--nodejs-color: #6FA660;

	// variable size para el tamaño de los circulos progresivos
	--size-progresive: 12rem;
}

// sass colores
// $first-color: #D63C5E;
$first-color: #007BDF;
$second-color: #2C2939;
$third-color: #ECECEC;

$html-color: #DD4B25;
$css-color: #146EB0;
$js-color: #ED7E30;
$mongodb-color: #7FC857;
$mysql-color: #005E86;
$nodejs-color: #6FA660;

// // variable (en sass) size para el tamaño de los circulos progresivos
$size-progresive: 12rem;
// Variables para las tipo de fuentes
$font-family: Arial, Helvetica, sans-serif;

// fuentes
$normal: 16px;
$small: $normal * .8;
$large: $normal * 1.2;

// variable para el width maximo del contenedor
$max-width: 1200px;
$gap: 2rem;